# Technical Files - Should be owned by @framewiki/admins
_config.yml @framewiki/admins
.github/ @framewiki/admins

# Governance - Should be owned by @framewiki/admins
framewiki/governance.md @framewiki/admins
framewiki/code-of-conduct.md @framewiki/admins

# Fully-Protected - Should be owned by @framewiki/admins @framewiki/maintainers

# Semi-Protected - Should be owned by @framewiki/admins @framewiki/maintainers @framewiki/editors
