Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/framework-computer-inc">Framework Computer Inc</a></li>
  <li><a href="/products">List of Framework Products</a></li>
  <li><a href="/guides">List of Guides</a></li>
  <li>
    <a href="/framework-laptop-13">Framework Laptop 13</a>
    <ul>
      <li><a href="/framework-laptop-13/11th-gen">11th Gen Intel Core</a></li>
      <li><a href="/framework-laptop-13/12th-gen">12th Gen Intel Core</a></li>
      <li><a href="/framework-laptop-13/13th-gen">13th Gen Intel Core</a></li>
      <li><a href="/framework-laptop-13/7040-series">AMD 7040 Series</a></li>
      <li><a href="/framework-laptop-13/core-ultra-1">Intel Core Ultra Series 1</a></li>
    </ul>
  </li>
  <li><a href="/framework-laptop-16">Framework Laptop 16</a></li>
  <li><a href="/expansion-cards">Expansion Cards</a></li>
  <li>
    <a href="/expansion-bay">Expansion Bay</a>
    <ul>
      <li><a href="/expansion-bay/shell">Expansion Bay Shell</a></li>
      <li><a href="/expansion-bay/radeon-rx-7700s">AMD Radeon RX 7700S</a></li>
    </ul>
  </li>
  <li><a href="/input-modules">Input Modules</a></li>
  <li><a href="/abbreviations">Abbreviations</a></li>
</ul>

About Framewiki
<ul>
  <li><a href="/framewiki:contributing">Framewiki: Contributing</a></li>
  <li><a href="/framewiki:code-of-conduct">Framewiki: Code of Conduct</a></li>
  <li><a href="/framewiki:copyright">Framewiki: Copyright</a></li>
  <li><a href="/framewiki:guidelines">Framewiki: Guidelines</a></li>
  <li><a href="/framewiki:governance">Framewiki: Governance</a></li>
</ul>

Most content published under the CC BY-SA 4.0 license. See <a href="/framewiki:copyright">Framewiki:Copyright</a> for details.
