<div class="note">
    <img src="/assets/clock.png"/> 
    {% if page.current-event %}
      <p style="display: inline;">
        <b>This article documents a current or upcoming event.</b> Information may change rapidly as the event progresses, and initial news reports may be unreliable. The latest updates to this article may not reflect the most current information.
      </p>
    {% else %}
      <p>
        This section may be affected by a current or upcoming event. Information may change rapidly as the event progresses, and initial news reports may be unreliable. The latest updates to this article may not reflect the most current information.
      </p>
    {% endif %}
  </div>