<div class="note">
    <img src="/assets/info.svg"/> 
    {% if page.stub %}
      <p style="display: inline;">
        This article is a stub. You can help Framewiki by expanding it. See <a href="/framewiki:contributing">Framewiki:Contributing</a> for more information.
      </p>
    {% else %}
      <p>
        This section is a stub. You can help Framewiki by expanding it. See <a href="/framewiki:contributing">Framewiki:Contributing</a> for more information.
      </p>
    {% endif %}
  </div>