<div class="note">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/OOjs_UI_icon_puzzle-ltr-warning.svg"/> 
  {% if page.wip %}
    <p style="display: inline;">
      <b>This article is under construction</b> and requires additional information. See <a href="/framewiki:contributing">Framewiki: Contributing</a> or post a comment to help improve Framewiki.
    </p>
  {% else %}
    <p>
      <b>This section is under construction</b> and requires additional information. See <a href="/framewiki:contributing">Framewiki: Contributing</a> or post a comment to help improve Framewiki.
    </p>
  {% endif %}
</div>